= content_for :page_title do 
  Galleries
.small-12.columns.gallery-wrapper
  %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
    %li
      = image_tag '14-copy.jpg'
      %h3 Favorites
      %p
        Here are some of our favorites photos from our first 3 years together before Kevin proposed
      %a.button{ href: '' }
        %span See Gallery
    %li
      = image_tag 'Kevin-courtney-engagement-square.jpg'
      %h3 Proposal
      %p
        These are the pictures we took throughout our engagement day, from the hike to Sharp Top to our first canoeing excursion.
      %a.button{ href: '' }
        %span See Gallery  
    %li
      = image_tag 'coming-soon.jpg'
      %h3 Engagement
      %p 
        Coming Soon!
    %li
      = image_tag 'coming-soon.jpg'
      %h3 Wedding
      %p
        Coming 2016!
