= content_for :page_title do 
  Galleries
- if current_user && current_user.is_admin?
  = link_to 'Add a new Gallery', new_gallery_path
.row
  .small-12.columns.gallery-wrapper
    %ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
      - @galleries.each do |gallery|
        %li
          = image_tag gallery.featured_image
          %h3
            %a{ href: gallery_path( gallery.slug ) }
              = gallery.title
          = gallery.body.html_safe if gallery.body
          - if !gallery.coming_soon? || (current_user && current_user.is_admin?)
            %a.button{ href: gallery_path( gallery.slug ) }
              %span See Gallery
