%section.hp-opening.homepage.clearfix
  .row.outer.clearfix
    .inner.clearfix
      %h2#logo Kevin &amp; Courtney
      .tagline.text-center
        .tagline-border
          %span Got Married!
.homepage.clearfix
  %section#hp-main-section-wrapper
    .green-wrapper
      .green-wrapper-border
        .green-wrapper-border-inner
          .row.vertical-spacing.text-center
            .small-12.medium-6.large-4.columns
              .text
                %h3 The Proposal
              .image
                .image-border
                  = image_tag 'Kevin-courtney-engagement-hp.jpg'
              %p
                Read our story from Kevin's perspective as he meticulously planned every part of the proposal from the ring to the big event. You can even watch the video he made from GoPro footage of the whole thing!
              %a.button{ href: the_proposal_path }
                %span Read the whole story
            .small-12.medium-6.large-4.columns
              .text
                %h3 The Wedding
              .image
                .image-border
                  = image_tag 'Courtney-Kevin-May-14-2016-2-Bridal-Party-Family-Portraits-0014-hp.jpg'
              %p
                Relive the fun of the wedding weekend through all of the pictures we have collected from wedding prep, to the rehearsal dinner to the wedding! We were able to capture ceremony video footage as well and put a little video together. Check it out!
              %a.button{ href: the_wedding_path }
                %span Relive the wedding
            .small-12.medium-12.large-4.columns
              .text
                %h3 Our Adventures
              .image
                .image-border
                  = image_tag 'IMG_5495.jpg'
              %p
                We've been on many adventures during our time together. Here we'll post blog-like photo stories of our trips together, including our honeymoon to Gatlinburg, TN and Asheville, NC!
              %a.button{ href: our_adventures_path }
                %span Our Adventures
  %section#hp-galleries
    .text
      .row.vertical-spacing
        .small-12.medium-10.medium-centered.large-6.large-centered.columns.text-center
          %h2.text-center Photo Galleries
          %p.small-only-text-center
            Look through our collections of photos, from the first 3 years that we dated, to our engagement and wedding.
          %p.text-center
            %a.button{ href: galleries_path }
              %span View Our Galleries
    .row.photo-collage
      .small-3.columns
        .full-box{ style: "background-image: url('#{ asset_path 'courtkev.jpg'}');" }
      .small-2.columns
        .half-box{ style: "background-image: url('#{ asset_path '6.jpg'}');" }
        .half-box{ style: "background-image: url('#{ asset_path 'Done-0040.jpg'}');" }
      .small-4.columns
        .full-box{ style: "background-image: url('#{ asset_path 'Done-0025.jpg'}');" }
      .small-3.columns
        .half-box{ style: "background-image: url('#{ asset_path '9.jpg'}');" }
        .half-box{ style: "background-image: url('#{ asset_path 'adventure.jpg'}');" }
