= content_for :page_title do 
  The Wedding
.clearfix
  .green-wrapper.clearfix
    .green-wrapper-border.clearfix
      .green-wrapper-border-inner.clearfix
        .small-12.columns.text-center.wedding-meta
          = image_tag 'date-stamp.png'
  .show-for-medium-up.large-8.large-centered.columns
    %ul.tabs.horizontal{ 'data-tab' => '' }
      %li.tab-title.active
        %a{ href: '#panel11' } The Venue
      %li.tab-title
        %a{ href: '#panel21' } Accommodations
      %li.tab-title
        %a{ href: '#panel31' } Local Activities
      %li.tab-title
        %a{ href: '#panel41' } Registry
    .tabs-content
      .content.active#panel11
        .text-center
          = image_tag 'venue.jpg'
        .row.vertical-spacing
          .small-12.large-9.large-centered.columns
            %p
              %strong
                Both the wedding and reception will be held at Gaie Lea
              , an estate home built in 1952 and situated in Virginia’s historic Shenandoah Valley.
            %p 
              The ceremony will be held in the home's 
              %strong 
                front yard 
              with panoramic views of the 200 acre farm and the Blue Ridge mountains. 
            %p
              The reception will be help on the property's 
              %strong 
                pavilion
              , overlooking a pond, with a yard that will have games during cocktail hour and a firepit for smore's later in the evening.
            %p
              %a.button{ href: 'http://www.gaielea.com', target: '_blank' }
                %span
                  Explore the venue
              %a.button{ href: 'https://www.google.com/maps/place/267+Bells+Ln,+Staunton,+VA+24401/@38.1701253,-79.0353537,17z/data=!3m1!4b1!4m2!3m1!1s0x89b4a039838c4029:0x16306c2816ba72f6', target: '_blank' }
                %span
                  See Map
            %br
            %h3 Rain Contingency Plan
            %p 
              In the event of rain that day, we will move the ceremony into the pavilion where the reception will also be held. We will keep everyone posted that day as to what the plan will be based on the weather.
      .content#panel21
        .text-center
          = image_tag 'holiday-inn.jpg'
        .row.vertical-spacing
          .small-12.large-8.large-centered.columns
            %p
              For your convenience, we have reserved a block of rooms for Friday and Saturday night at the 
              %a{ href: 'http://www.ihg.com/holidayinn/hotels/us/en/staunton/shdva/hoteldetail', target: '_blank'} 
                Holiday Inn Staunton Conference Center
              , which is 5 minutes away from our wedding venue.
            %p
              In order to reserve a room at our reserved discount, please book by April 14, 2016. Once you have chosen your date(s) of stay, under "Have a Group Code?", enter our wedding code: 
              %strong H81
            %p
              Check in will be at 3:00pm and check out at 11:00am
            %p
              The ceremony will begin at 4:00pm which gives guests who do not wish to come the night before an hour to check in and make their way to the ceremony, which is only a 5 minute drive away.
            %p
              %a.button{ href: 'http://www.ihg.com/holidayinn/hotels/us/en/staunton/shdva/hoteldetail', target: '_blank' }
                %span Book a room
              %a.button{ href: 'https://www.google.com/maps/place/Holiday+Inn+Staunton+Conference+Center/@38.1688517,-79.0098228,17z/data=!3m1!4b1!4m2!3m1!1s0x89b49f859cd6828b:0x276f91827f09873d', target: '_blank' }
                %span See Map
            %hr
            %p
              %strong
                For those guests who wish to stay elsewhere, here is a list of other hotels in the surrounding area of a variety of price points:
            .acc-list-group.text-left
              .row
                %h3 Stonewall Jackson Hotel
                %p
                  Originally opened in 1924, this traditional conference hotel is a 3-minute walk from Staunton Amtrak and an 8-minute walk from Wilson Park.
                %a.button{ href: 'http://www.stonewalljacksonhotel.com/', target: '_blank' } 
                  %span Book a room
              .row
                %h3 Hampton Inn Staunton
                %p 
                  This modern hotel is a 4-minute walk from the Staunton Mall and a 1.4-mile drive from the Frontier Culture Museum.
                %a.button{ href: 'http://hamptoninn3.hilton.com/en/hotels/virginia/hampton-inn-staunton-SHDVAHX/index.html', target: '_blank' }
                  %span Book a room
              .row
                %h3 Best Western Staunton Inn
                %p
                  Off Interstate 81, this straightforward hotel is 2.1 miles from the Frontier Culture Museum, and 3.3 miles from the American Shakespeare Center.
                %a.button{ href: 'http://book.bestwestern.com/bestwestern/US/VA/Staunton-hotels/BEST-WESTERN-Staunton-Inn/Hotel-Overview.do?propertyCode=47081&cm_mmc=BL-_-Google-_-GMB-_-47081', target: '_blank' }
                  %span Book a room
              .row
                %h3 Comfort Inn
                %p
                  This straightforward 5-story hotel in the Shenandoah Valley is off Interstate 81, 2.5 miles from the Woodrow Wilson Presidential Library in Downtown Staunton. The Frontier Culture Museum is 1.2 miles away.
                %a.button{ href: 'https://www.choicehotels.com/virginia/staunton/comfort-inn-hotels/va433?source=gglocaloz', target: '_blank' }
                  %span Book a room
              .row
                %h3 Sleep Inn
                %a.button{ href: 'https://www.choicehotels.com/virginia/staunton/sleep-inn-hotels/va289?source=gglocaloz', target: '_blank' }
                  %span Book a room
              .row
                %h3 Red Roof Inn Staunton
                %a.button{ href: 'https://www.redroof.com/property/Staunton/VA/24401/Hotels-close-to-Shenandoah-Valley-Regional-Airport-I-81/RRI706/', target: '_blank' }
                  %span Book a room
              .row
                %h3 Days Inn Staunton North
                %p
                  This straightforward low-rise hotel off Interstate 81 is adjacent to the Club at Ironwood golf course, a 9-minute drive from the Woodrow Wilson Presidential Library and Museum, and 17.3 miles from the Grand Caverns.
                %a.button{ href: 'http://www.daysinn.com/hotels/virginia/staunton/days-inn-staunton-north/hotel-overview?cid=local', target: '_blank' } 
                  %span Book a room
      .content#panel31
        .text-center
          = image_tag 'Downtown-Staunton.jpg'
        .row.vertical-spacing
          .small-12.large-8.large-centered.columns.text-left
            %p
              There is a lot to explore in and around historic downtown Staunton, VA. If you're looking to stay close to the downtown area, here are some great places to visit:
            %h3
              Shopping in Historic Downtown Staunton
            %p
              Beautiful antiques, unusual collectibles, distinct gifts, baked goods, and hobby shops.
            %p
              %a.button{ href: 'http://www.visitstaunton.com/shopping/shopping.htm', target: '_blank' }
                %span Shopping
            %h3
              Restaurants in Historic Downtown Staunton
            %p
              All within walking distance are restaunrants ranging from contemporary, to classic american, to cafes and bakeries. Some of our favorites are 
              %a{ href: 'http://depotgrille.com/staunton/', target: '_blank' }
                The Depot Grille
              ,
              %a{ href: 'http://www.byersstreetbistro.com/', target: '_blank' }
                Byers Street Bistro
              ,
              %a{ href: 'http://www.yelp.com/biz/staunton-coffee-and-tea-staunton', target: '_blank' }
                Staunton Coffee &amp; Tea
              , 
              %a{ href: 'http://gocranberrys.com/', target: '_blank' }
                Cranberry's Grocery and Eatery
              , and
              %a{ href: 'http://www.cocoamill.com/', target: '_blank' }
                Cocoa Mill Chocolatier.
            %p
              Our favorite place to get ice cream is 
              %a{ href: 'http://www.klinesdairybar.com/', target: '_blank' }
                Klines 
              but we've heard awesome things about
              %a{ href: 'http://thesplitbanana.com/', target: '_blank' }
                The Split Banana
            %p
              %a.button{ href: 'http://www.visitstaunton.com/dining/dining.htm', target: '_blank' }
                %span Restaurants
            %h3
              American Shakespeare Center
            %p
              The American Shakespeare Center hosts an internationally acclaimed theatre company that performs Shakespeare's works under their original staging conditions. The Blackfriars Playhouse has been established as one of America's premier Shakespeare destinations.
            %p
              %a.button{ href: 'http://www.americanshakespearecenter.com/#_=_', target: '_blank' }
                %span Website
            %h3
              The Frontier Culture Museum
            %p
              The Frontier Culture Museum of Virginia is an expansive outdoor museum that interprets the contributions made by settlers from backcountry communities of England, Germany, Ireland, and West Africa that pioneered our Western frontier in the 1700s.
            %p
              %a.button{ href: 'http://www.frontiermuseum.org/#_=_', target: '_blank' }
                %span Website
            %h3
              Sunspots Studios and Glassblowing
            %p
              Gift gallery and glassblowing studio open 7 days a week, with live glassblowing demonstrations every day until about 4:00pm.
            %p
              %a.button{ href: 'http://sunspots.com/#_=_', target: '_blank' }
                %span Website
            %p
              If you are interested in exploring the Shenandoah Valley a little further out, there are some beautiful sights to see and fun things to do. Of the best, though, are the underground cavern tours that are the most unique. Here are the 3 most visited caverns in the valley listed in order of closeness in proximity to Staunton:
            %h3
              Endless Caverns
            %p
              45 minute drive from Staunton
            %p
              Through the years, many expeditions have failed to find an end to the complex network of underground passageways called Endless Caverns, which are mapped for more than 5 miles! Discovered by two adventurous boys and their dog in 1879, these caverns are home to a fossilized wooly mammoth's tooth, too
            %p
              %a.button{ href: 'http://www.endlesscaverns.com/', target: '_blank' }
                %span Website
            %h3
              Shenandoah Caverns
            %p
              50 minute drive from Staunton
            %p
              The only caverns in Virginia with elevator service to its 17 underground rooms. One of the most breathtaking sights of the underworld is its Rainbow Lake with iridescent drip formations of bright colors.
            %p
              %a.button{ href: 'http://www.shenandoahcaverns.com/', target: '_blank' }
                %span Website
            %h3
              Luray Caverns
            %p
              1 hour drive from Staunton
            %p
              The largest caverns in the eastern USA and a National Landmark. Some of the most spectacular creations were formed just one drip at at time, such as Giant's Hall, vast expansive chambers decorated by predominately golden columns, 10-stories tall. The gold colors come from iron and clay soils seeping from the ground along with the calcium carbonate "drips."
            %p
              Luray Caverns is home to the world's largest musical instrument, The Stalacpipe Organ. It is played from a regular-size organ, but its organ pipes are the stalactites themselves, spreading over 3.5 underground acres, and wired with little rubber mallets.
            %p
              %a.button{ href: 'http://luraycaverns.com/', target: '_blank' }
                %span Website
      .content#panel41
        .row
          %br
          %h2.text-center
            We are registered at:
            %br
            %br
          %ul.small-block-grid-1.medium-block-grid-2.text-center
            %li
              = image_tag 'target.png'
              %br
              %p
                Target
              %p
                %a.button{ href: 'http://www.target.com/gift-registry/giftgiver?registryId=F8sIVU91acnipmf2Z4FaHA&registryType=WEDDING', target: '_blank' }
                  %span See Registry
            %li
              = image_tag 'anthro.png'
              %br
              %p
                Anthropologie
              %p
                %a.button{ href: 'https://www.anthropologie.com/anthro/registry/listing?registryId=OTQ0MWI1MDHL', target: '_blank' }
                  %span See Registry
          %p.text-center
            Also, we are project people and are always in need of new tools and materials. We (Kevin) will also graciously accept giftcards to 
            %a{ href: 'http://www.lowes.com/', target: '_blank' }
              Lowes
          %p.text-center
            = image_tag 'lowes-gift-card.jpg'
  .show-for-small-only
    %ul.accordion{ 'data-accordion' => '' }
      %li.accordion-navigation
        %a{ href: '#panel1a' } The Venue
        #panel1a.content
          %p
            %strong
              Both the wedding and reception will be held at Gaie Lea
            , an estate home built in 1952 and situated in Virginia’s historic Shenandoah Valley.
          %p 
            The ceremony will be held in the home's 
            %strong 
              front yard 
            with panoramic views of the 200 acre farm and the Blue Ridge mountains. 
          %p
            The reception will be help on the property's 
            %strong 
              pavilion
            , overlooking a pond, with a yard that will have games during cocktail hour and a firepit for smore's later in the evening.
          %p
            %a.button{ href: 'http://www.gaielea.com', target: '_blank' }
              %span
                Explore the venue
            %a.button{ href: 'https://www.google.com/maps/place/267+Bells+Ln,+Staunton,+VA+24401/@38.1701253,-79.0353537,17z/data=!3m1!4b1!4m2!3m1!1s0x89b4a039838c4029:0x16306c2816ba72f6', target: '_blank' }
              %span
                See Map
          %br
          %h3 Rain Contingency Plan
          %p 
            In the event of rain that day, we will move the ceremony into the pavilion where the reception will also be held. We will keep everyone posted that day as to what the plan will be based on the weather.
      %li.accordion-navigation
        %a{ href: '#panel2a' } Accommodations
        #panel2a.content
          %p
            For your convenience, we have reserved a block of rooms for Friday and Saturday night at the 
            %a{ href: 'http://www.ihg.com/holidayinn/hotels/us/en/staunton/shdva/hoteldetail', target: '_blank'} 
              Holiday Inn Staunton Conference Center
            , which is 5 minutes away from our wedding venue.
          %p
            In order to reserve a room at our reserved discount, please book by April 14, 2016. Once you have chosen your date(s) of stay, under "Have a Group Code?", enter our wedding code: 
            %strong H81
          %p
            Check in will be at 3:00pm and check out at 11:00am
          %p
            The ceremony will begin at 4:00pm which gives guests who do not wish to come the night before an hour to check in and make their way to the ceremony, which is only a 5 minute drive away.
          %p
            %a.button{ href: 'http://www.ihg.com/holidayinn/hotels/us/en/staunton/shdva/hoteldetail', target: '_blank' }
              %span Book a room
            %a.button{ href: 'https://www.google.com/maps/place/Holiday+Inn+Staunton+Conference+Center/@38.1688517,-79.0098228,17z/data=!3m1!4b1!4m2!3m1!1s0x89b49f859cd6828b:0x276f91827f09873d', target: '_blank' }
              %span See Map
          %hr
          %p
            %strong
              For those guests who wish to stay elsewhere, here is a list of other hotels in the surrounding area of a variety of price points:
          %a.button{ href: 'https://www.google.com/webhp?sourceid=chrome-instant&rlz=1C5CHFA_enUS564US565&ion=1&espv=2&es_th=1&ie=UTF-8#safe=active&q=staunton+hotel+list&rflfq=1&tbm=lcl', target: '_blank' }
            %span Staunton Hotel List
      %li.accordion-navigation
        %a{ href: '#panel3a' } Local Activities
        #panel3a.content
          %p
            There is a lot to explore in and around historic downtown Staunton, VA. If you're looking to stay close to the downtown area, here are some great places to visit:
          %h3
            Shopping in Historic Downtown Staunton
          %p
            Beautiful antiques, unusual collectibles, distinct gifts, baked goods, and hobby shops.
          %p
            %a.button{ href: 'http://www.visitstaunton.com/shopping/shopping.htm', target: '_blank' }
              %span Shopping
          %h3
            Restaurants in Historic Downtown Staunton
          %p
            All within walking distance are restaunrants ranging from contemporary, to classic american, to cafes and bakeries. Some of our favorites are 
            %a{ href: 'http://depotgrille.com/staunton/', target: '_blank' }
              The Depot Grille
            ,
            %a{ href: 'http://www.byersstreetbistro.com/', target: '_blank' }
              Byers Street Bistro
            ,
            %a{ href: 'http://www.yelp.com/biz/staunton-coffee-and-tea-staunton', target: '_blank' }
              Staunton Coffee &amp; Tea
            , 
            %a{ href: 'http://gocranberrys.com/', target: '_blank' }
              Cranberry's Grocery and Eatery
            , and
            %a{ href: 'http://www.cocoamill.com/', target: '_blank' }
              Cocoa Mill Chocolatier.
          %p
            Our favorite place to get ice cream is 
            %a{ href: 'http://www.klinesdairybar.com/', target: '_blank' }
              Klines 
            but we've heard awesome things about
            %a{ href: 'http://thesplitbanana.com/', target: '_blank' }
              The Split Banana
          %p
            %a.button{ href: 'http://www.visitstaunton.com/dining/dining.htm', target: '_blank' }
              %span Restaurants
          %h3
            American Shakespeare Center
          %p
            The American Shakespeare Center hosts an internationally acclaimed theatre company that performs Shakespeare's works under their original staging conditions. The Blackfriars Playhouse has been established as one of America's premier Shakespeare destinations.
          %p
            %a.button{ href: 'http://www.americanshakespearecenter.com/#_=_', target: '_blank' }
              %span Website
          %h3
            The Frontier Culture Museum
          %p
            The Frontier Culture Museum of Virginia is an expansive outdoor museum that interprets the contributions made by settlers from backcountry communities of England, Germany, Ireland, and West Africa that pioneered our Western frontier in the 1700s.
          %p
            %a.button{ href: 'http://www.frontiermuseum.org/#_=_', target: '_blank' }
              %span Website
          %h3
            Sunspots Studios and Glassblowing
          %p
            Gift gallery and glassblowing studio open 7 days a week, with live glassblowing demonstrations every day until about 4:00pm.
          %p
            %a.button{ href: 'http://sunspots.com/#_=_', target: '_blank' }
              %span Website
          %p
            %strong
              If you are interested in exploring the Shenandoah Valley a little further out, there are some beautiful sights to see and fun things to do. Of the best, though, are the underground cavern tours that are the most unique. Here are the 3 most visited caverns in the valley listed in order of closeness in proximity to Staunton:
          %h3
            Endless Caverns
          %p
            45 minute drive from Staunton
          %p
            Through the years, many expeditions have failed to find an end to the complex network of underground passageways called Endless Caverns, which are mapped for more than 5 miles! Discovered by two adventurous boys and their dog in 1879, these caverns are home to a fossilized wooly mammoth's tooth, too
          %p
            %a.button{ href: 'http://www.endlesscaverns.com/', target: '_blank' }
              %span Website
          %h3
            Shenandoah Caverns
          %p
            50 minute drive from Staunton
          %p
            The only caverns in Virginia with elevator service to its 17 underground rooms. One of the most breathtaking sights of the underworld is its Rainbow Lake with iridescent drip formations of bright colors.
          %p
            %a.button{ href: 'http://www.shenandoahcaverns.com/', target: '_blank' }
              %span Website
          %h3
            Luray Caverns
          %p
            1 hour drive from Staunton
          %p
            The largest caverns in the eastern USA and a National Landmark. Some of the most spectacular creations were formed just one drip at at time, such as Giant's Hall, vast expansive chambers decorated by predominately golden columns, 10-stories tall. The gold colors come from iron and clay soils seeping from the ground along with the calcium carbonate "drips."
          %p
            Luray Caverns is home to the world's largest musical instrument, The Stalacpipe Organ. It is played from a regular-size organ, but its organ pipes are the stalactites themselves, spreading over 3.5 underground acres, and wired with little rubber mallets.
          %p
            %a.button{ href: 'http://luraycaverns.com/', target: '_blank' }
              %span Website
      %li.accordion-navigation
        %a{ href: '#panel4a' } Registry
        #panel4a.content
          %h2.text-center
            We are registered at:
            %br
            %br
          %ul.small-block-grid-1.medium-block-grid-2.text-center
            %li
              = image_tag 'target.png'
              %br
              %p
                Target
              %p
                %a.button{ href: 'http://www.target.com/gift-registry/giftgiver?registryId=F8sIVU91acnipmf2Z4FaHA&registryType=WEDDING', target: '_blank' }
                  %span See Registry
            %li
              = image_tag 'anthro.png'
              %br
              %p
                Anthropologie
              %p
                %a.button{ href: 'https://www.anthropologie.com/anthro/registry/listing?registryId=OTQ0MWI1MDHL', target: '_blank' }
                  %span See Registry
          %p.text-center
            Also, we are project people and are always in need of new tools and materials. We (Kevin) will also graciously accept giftcards to 
            %a{ href: 'http://www.lowes.com/', target: '_blank' }
              Lowes
          %p.text-center
            = image_tag 'lowes-gift-card.jpg'
