= content_for :page_title do 
  Galleries
.gallery-wrapper.clearfix
  .small-12.large-7.large-centered.columns
    %div.vertical-spacing
      #notice= notice
      .divider
      %h3= @gallery.title
      = @gallery.body.html_safe if @gallery.body
  .small-12.large-10.large-centered.columns.desktop-image-area.gallery-window
    .row.large-width-container
      - @gallery.gallery_images.by_position.each do |image|
        .small-12.columns
          = image_tag image.file
        / - if image.format == 'full'
        /   .small-12.columns
        /     = image_tag image.file.full
        / - else 
        /   .small-12.medium-6.columns
        /     = image_tag image.file.half
    .hide-for-large-up.text-center
      %br
      = link_to galleries_path, class: 'button' do
        %span Back to Galleries
- if current_user && current_user.is_admin?
  = link_to '<span>Edit</span>'.html_safe, edit_gallery_path( @gallery.slug ), class: 'button'
